streamlit==1.39.0
numpy==1.23.5
opencv-python-headless==4.6.0.66
Pillow==9.0.0
streamlit-drawable-canvas==0.8.0
scikit-learn==1.0.2
firebase-admin==6.1.0
python-dotenv==1.0.0
streamlit-js-eval==0.1.0  # Đảm bảo phiên bản này tồn tại
streamlit-javascript==0.1.0  # Nếu không có, hãy kiểm tra các phiên bản khác
